.top{
    margin-top: 110px;
}

.banner{
    margin-top: 175px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.about_text{
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 2;
  padding: 200px 20px ;
  text-align: center;
  width: 80%;
}

.about_text h1{
    color: white;
    text-shadow: 2px 2px 8px black;
}

.about_text p{
    color: white;
    text-shadow: 2px 2px 8px black;
}

.parallax {
    /* The image used */
    background-image: url("images/background.png");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.story_text h2{
    color: #000000;;
    text-shadow: 2px 2px 8px rgb(194, 194, 194);
}
.story_text p{
    color: #000000;;
    text-shadow: 2px 2px 8px rgb(194, 194, 194);
}

.members{
    background-color: rgba(41, 171, 227, .1);
}

.member_list .deg h4{
    color: #29AAE3;
}

.members h2,.deg,.name{
    text-shadow: 2px 2px 8px rgb(122, 122, 122);
}


/* Gallery CSS */

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
    margin-top: 150px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px 8px rgb(133, 133, 133);
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.gallery .row > div {
    padding: 2px;
}

.gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.gallery .lightbox:hover:after,
.gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.cards{
    margin: 0 auto;
    max-width: fit-content;
}

.card{
    box-shadow: 2px 4px 10px gray;
}

.f_btn{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    border: 3px solid #a1a1a1;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding: 0 30px;
}

.f_btn:hover{
    color: #fff;
    background: #0a2c9c;
    border: 3px solid #29AAE3;
}

.form-search input{
    width: 40%;
    padding: 14px 15px;
    border-radius: 50px;
    border: 1px solid #b6c3cd;
    color:#4E565C;
    outline: none;
}

.card_wrap{
    padding: 10px;
    box-shadow: 3px 4px 8px gray;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}